<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>theory</title>
    <style>
        #canvas {
            width: 1200px;
            height: 600px;
            background-color: #ddd
        }
    </style>
</head>
<body>
    <p>Дано: найти формулу для расчета максимального количества равных прямых линий,
    соединяющих N точек. Точки можно располагать произольно.</p>

    <canvas id="canvas"></canvas>

    <div id="app">
        <b>offsetX</b>
        <input type="number" v-model="offsetX" step="10"><br>
        <b>offsetY</b>
        <input type="number" v-model="offsetY" step="10"><br>
        <b>length</b>
        <input type="number" v-model="length" step="10"><br>
        <b>count</b>
        <input type="number" v-model="count"><br>
        <b>phase</b>
        <input type="number" v-model="phase"><br>
        <b>stepAngle</b>
        <input type="number" v-model="stepAngle"><br>
        <b>linesCount</b>
        <input type="number" v-model="linesCount">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="../Helpers.js"></script>
    <script type="text/javascript">

        let app = new Vue({
            el: '#app',
            data: {
                offsetX: 600,
                offsetY: 300,
                length: 190,
                count: 12,
                phase: 0,
                stepAngle: 30,
            },
            computed: {
                linesCount: function() {
                    return 0;
                    // return this.count + this.count*this.count + this.count*this.count*this.count;
                }
            }
        });

        window.onload = function() {
            let canvas = document.getElementById('canvas');
            let context = canvas.getContext('2d');
            canvas.width = 1200;
            canvas.height = 600;

            let fps = 60;
            let start = Date.now();
            let x = Date.now();
            let interval = 1000/fps;
            let delta;
            let now;

            (function draw() {
                // app.stepAngle += 0.001;
                requestAnimationFrame(draw);

                now = Date.now();
                delta = now - x;
                x = now - delta % interval;

                if (delta > interval) {
                    context.clearRect(0, 0, canvas.width, canvas.height);

                    for (let i = app.phase; i <app.count; i++) {
                        let xy2 = drawLine(context, [app.offsetX, app.offsetY], app.length, i*app.stepAngle);

                        for (let i = app.phase; i <app.count; i++) {
                            let xy3 = drawLine(context, [xy2[0], xy2[1]], app.length, i*app.stepAngle);

                            for (let i = app.phase; i <app.count; i++) {
                                let xy4 = drawLine(context, [xy3[0], xy3[1]], app.length, i*app.stepAngle);

                                for (let i = app.phase; i <app.count; i++) {
                                    let xy5 = drawLine(context, [xy4[0], xy4[1]], app.length, i*app.stepAngle);

                                    // for (let i = app.phase; i <app.count; i++) {
                                    //     let xy6 = drawLine(context, [xy5[0], xy5[1]], app.length, i*app.stepAngle);
                                    // }
                                }
                            }
                        }
                    }
                }
            })();
        }

    </script>
</body>
</html>
